
<div class="purchase-history-grid">
    <table class="table">
        <thead>
        <tr>
            <th>{{ 'Order Reference'|trans }}</th>
            <th>{{ 'Purchase Date'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for row in gridData.getRecords() %}
            <tr>
                <td>{{ row.get('order_reference') }}</td>
                <td>{{ row.get('purchase_date') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
